*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #393c41;
  /* border: 1px solid red; */
}
body{
  width: 100%;
}
.btn{
  border-radius: 50px;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color: #393c41;
}
a:hover{
  text-decoration: none;
  color: #393c41;
}
.angleDown{
  color: white;
  font-size: 40px;
  height: 60px;
  animation: animateDown 1s ease-in-out infinite;
}
.fa-bars, .fa-times{
  cursor: pointer;
}
@keyframes animateDown {
  0%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(5px);
  }
  60%{
    transform: translateY(3px);
  }
}

